* {
  font-family: 'League Spartan', sans-serif;
  font: 1em sans-serif;
  font-weight: 700 !important;
  user-select: none;
}

a {
  text-decoration: none !important;
}

p {
  text-shadow: #2b2b2b 0px 0px 1px;
  font-size: 20px;
  font-weight: bolder;
  word-spacing: 0.08em;
  letter-spacing: 0.05em;

}

body {
  background-color: #141516;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.foto-perfil {
  width: 200px;
  border-radius: 50%;
  margin: 40px 0;
  box-shadow: 12px 15px 150px 200px #532cc7;

  background-color: #fff;
}

.icones {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0 !important;
  margin: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  border-radius: 20px;
}

.icones img {
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 1px 5px 5px rgb(0, 0, 0);
}


.projetos-title {
  box-shadow: 20px 13px 250px 220px #532cc7;
  border-radius: 10px;
  width: 180px;
  margin: 0 auto;
  padding: 10px;
  background-color: #532cc7;
  font-weight: 900;
}

.form-title {
  box-shadow: 20px 13px 250px 220px #532cc7;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: #532cc7;
  font-weight: 900;
}

.navbar-brand {
  color: white !important;
  font-size: 1.5em;
  font-weight: bold;
}


.fab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #532cc7;

  color: white;
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
  box-shadow: 2px 1px 35px 8px #532cc7;

  cursor: pointer;

}

.fab:hover {
  transform: scale(1.3);

  transition: 0.2s;

  cursor: pointer;
}

.jumbotron {
  background-color: #2b2b2b;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .jumbotron {
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 720px) {
  .jumbotron {
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
}

span {
  color: #2cc7c7;
  font-weight: 900;
  font-size: 25px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black !important;
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white !important;
}

.corPrimaria {
  background-color: #141516;
}

.formulario {
  background-color: #141516;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0;
  width: 100vw;

  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.itemMenu {
  color: white;
}

.links {
  padding: 10px 0;
  cursor: pointer;
  margin-left: 15px;

  transition: all 0.1s;

  box-shadow: 1px 1px 5px rgb(0, 0, 0);

  border-radius: 10px;
  font-size: 15px;
  text-align: center;

  color: white !important;

}

.links:hover {
  transform: scale(1.1);

  cursor: pointer;

  box-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.nav-link {
  color: white !important;
  background: -webkit-linear-gradient(307deg, hsla(246, 98%, 76%, 1) 26%, hsla(239, 95%, 70%, 1) 53%, hsla(236, 94%, 63%, 1) 75%);

  font-size: 15px;
  margin: 0.4rem;
}

.corSecundaria {
  background-color: #fcfcfc;
  padding: 0px;
  margin: 0px;
}

footer {
  background-color: #141516;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
}

.footer_links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  border-radius: 20px;
  gap: 10px;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

h1 {
  /* title text */
  font-style: monospace !important;
  font-weight: bold;
  font-size: 1em;
  color: #2cc7c7;
  text-transform: uppercase;
  text-shadow: 2px 3px 3px #2cc7c7;

}

h2 {
  color: #17a2b8
}

.cartao {
  height: 225px;
  width: 100%;
  display: block;
}

#myBtn {
  background: -webkit-linear-gradient(307deg, hsla(246, 98%, 76%, 1) 26%, hsla(239, 95%, 70%, 1) 53%, hsla(236, 94%, 63%, 1) 75%);
  display: none;
  position: fixed;
  border: #ffffff solid 1px;
  bottom: 15px;
  right: 30px;
  z-index: 99;
  font-size: 38px;
  border-radius: 20px;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 0 15px;
  transition: ease-out 0.2s;
}

#myBtn:hover {
  background-color: #17a2b8;
  transform: scale(1.1);

  color: white;
  border: #2b2b2b solid 5px;
}

.carousel {
  padding: 0;
  color: #17a2b8;
  font-weight: 900;
  border-bottom: 15px ridge #4954f9;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;

  box-shadow: 10px 10px 25px rgb(0, 0, 0);

  background-color: #141516;
}

.botao {
  color: white;
  align-content: center;
  padding: 10px;
  margin: 25px 0;
  cursor: pointer;
  justify-content: center;
  width: 250px;

  font-size: 1.5em;
  font-weight: bold;

  transition: ea 0.6s;

  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  border-bottom: 5px solid #532cc7;
  border-radius: 10px;
  background-color: #2b2b2b;

}

.botao:hover {
  transform: scale(1.1);
  color: white;
  border-bottom: 5px solid #17a2b8;

}

.logo_img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.icones p {
  color: #17a2b8;
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
}

#projetos {
  margin-top: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  flex-wrap: wrap;

}


.wrapper-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.demo {
  width: 21ch;
  animation: typing 2s steps(21), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace !important;
  font-size: 0.7em;
  color: #17a2b8;
  text-shadow: 5px 5px 2px #2b2b2b;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}